<section>
  <h1>BSU on Rails</h1>
  <p>
    <small>Created by <a href="https://github.com/Saicheg/">Valentine Zavadsky</a></small>
  </p>
</section>

<section>
  <h2>In this chapter:</h2>
  <ul>
    <li>Gems</li>
    <li>Bundler</li>
    <li>Seeds</li>
    <li>Scopes</li>
    <li>Forms</li>
    <li>Partials</li>
    <li>Helpers</li>
  </ul>
</section>

<section>
  <h2>What is gem?</h2>
  <%= image_tag 'what-is-love.gif', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h2>Places:</h2>
  <ul>
    <li><a href='http://rubygems.org/'>Rubygems</a> - where all gems live</li>
    <li><a href='https://github.com/Saicheg/tinymce-rails'>Github</a> - where all gems where born</li>
  </ul>
</section>

<section>
  <h2>Dig deeper</h2>
  <%= image_tag 'dig.jpg', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <a href='http://gembundler.com/'><%= image_tag 'bundler.png', :class => 'no-background no-border no-shadow' %></a>
</section>

<section>
  <h2>Simple blog</h2>
  <h3>Requirements:</h3>
  <ul>
    <li>Bootstrap</li>
    <li>Pagination</li>
    <li>Approving articles</li>
  </ul>
</section>

<section>
  <%= image_tag 'end.jpg', :class => 'no-background no-border no-shadow' %>
</section>
